func main() {
	serviceName := "{{.Project}}"

	// Logging and Tracing
	logger, metricsFactory := log.Init(serviceName)
	tracer := tracing.Init(serviceName, metricsFactory, logger)

  // HTTP Router
  r := mux.NewRouter()

{{range .TagOps -}}
{{$tag := .Tag}}
{{$tagVar := .TagCamel}}
{{$tagPkg := .Package}}
  // {{$tag}} Service
  {
		repo, err := {{$tagPkg}}.NewGormRepository(context.Background(), os.Getenv("POSTGRES_DSN"), logger, tracer)
		if err != nil {
			logger.Bg().Fatal("Failed to create {{$tagPkg}} repository", zap.Error(err))
		}
		service := {{$tagPkg}}.NewService(repo, logger, tracer)
		endPoints := {{$tagPkg}}.NewEndpointSet(service, logger, tracer)
		{{$tagPkg}}.AddHTTPRoutes(r, endPoints, logger, tracer)
  } 
{{end}}{{/* range . */}}

  // HTTP Mux
  m := tracing.NewServeMux(tracer)
	m.Handle("/metrics", promhttp.Handler()) // Prometheus
	m.Handle("/", r)


	// Start Transports
	go func() error {
		// HTTP
		httpHost := ""
		httpPort := 8080
		httpAddr := httpHost + ":" + strconv.Itoa(httpPort)
		logger.Bg().Info("Listening", zap.String("transport", "http"), zap.String("host", httpHost), zap.Int("port", httpPort), zap.String("addr", httpAddr))
		err := http.ListenAndServe(httpAddr, m)
		logger.Bg().Fatal("Exit", zap.Error(err))
		return err
	}()

	// Select Loop
	select {}
}
