
{{$tag := .Tag}}
type Repository interface {
{{range .Ops -}}
{{$opid := .OperationId -}}
{{$successResponse := getSuccessResponseTypeDefinition . -}}
{{$tag := .Tag -}}{{$opid}}(ctx context.Context{{genParamArgs .PathParams}}{{range .Bodies}}, {{lcFirst $opid}}{{.Suffix}}Request *{{$opid}}{{.Suffix}}Request{{end}}) (*{{lower $tag}}api.{{$successResponse.Schema.GoType}}, error)
{{end -}}
}
