
{{$tag := .Tag}}
type Repository interface {
{{range .Ops -}}
{{$opid := .OperationId -}}
{{$successResponse := getSuccessResponseTypeDefinition . -}}
{{$tag := .Tag -}}
{{if isGet . -}}
  {{$opid}}(ctx context.Context{{genParamArgs .PathParams}}{{range .Bodies}}, {{lcFirst $successResponse.Schema.GoType}} *{{$successResponse.Schema.GoType}}{{end}}) (*{{$successResponse.Schema.GoType}}, error)
{{else -}}
  {{$opid}}(ctx context.Context{{range .Bodies}}, {{lcFirst $successResponse.Schema.GoType}} *{{$successResponse.Schema.GoType}}{{end}}) (*{{$successResponse.Schema.GoType}}, error)
{{end -}}
{{end -}}
}
